<a href="https://colab.research.google.com/github/rassamyjs/DS-Unit-1-Build/blob/master/Copy_of_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [170]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [171]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

# 1. Wrangle Data

In [173]:
# index created column
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv', index_col='created')
df.head()

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-06-24 07:54:24        1.5  ...                     0
2016-06-12 12:19:27        1.0  ...                     0
2016-04-17 03:26:41        1.0  ...                     0
2016-04-18 02:22:02        1.0  ...                     0
2016-04-28 01:32:41        1.0  ...                     0

[5 rows x 33 columns]

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49352 entries, 2016-06-24 07:54:24 to 2016-04-12 02:48:07
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             49352 non-null  float64
 1   bedrooms              49352 non-null  int64
 2   description           47906 non-null  object
 3   display_address       49217 non-null  object
 4   latitude              49352 non-null  float64
 5   longitude             49352 non-null  float64
 6   price                 49352 non-null  int64
 7   street_address        49342 non-null  object
 8   interest_level        49352 non-null  object
 9   elevator              49352 non-null  int64
 10  cats_allowed          49352 non-null  int64
 11  hardwood_floors       49352 non-null  int64
 12  dogs_allowed          49352 non-null  int64
 13  doorman               49352 non-null  int64
 14  dishwasher            49352 non-null  int64
 15  no_fee                49352 non-null  int64
 16  laundry_in_building   49352 non-null  int64
 17  fitness_center        49352 non-null  int64
 18  pre-war               49352 non-null  int64
 19  laundry_in_unit       49352 non-null  int64
 20  roof_deck             49352 non-null  int64
 21  outdoor_space         49352 non-null  int64
 22  dining_room           49352 non-null  int64
 23  high_speed_internet   49352 non-null  int64
 24  balcony               49352 non-null  int64
 25  swimming_pool         49352 non-null  int64
 26  new_construction      49352 non-null  int64
 27  terrace               49352 non-null  int64
 28  exclusive             49352 non-null  int64
 29  loft                  49352 non-null  int64
 30  garden_patio          49352 non-null  int64
 31  wheelchair_access     49352 non-null  int64
 32  common_outdoor_space  49352 non-null  int64
dtypes: float64(3), int64(26), object(4)
memory usage: 12.8+ MB

# Train/Split Test

## Split data

In [180]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
#Split into training and test
#engineer with 2 or more features
y = df['price']
X = df[['laundry_in_building', 'cats_allowed', 'dogs_allowed']]

# train data during april (04) and may (05) test during june (06)
mask = df.index < '2016-06'
X_train, y_train = X.loc[mask], y.loc[mask]
X_test, y_test = X.loc[~mask], y.loc[~mask]

# sanity check 
assert len(X) == len(X_train) + len(X_test)
#Baseline
y_pred = [y_train.mean()] * len(y_train)

print('Baseline MAE:', mean_absolute_error(y_train, y_pred))

# all imports above
# instantiate our predictor
model = LinearRegression() 
# fit model
model.fit(X_train, y_train)

Baseline MAE: 1424.6919975334508

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

- Get the model's coefficients and intercept.

- Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [184]:
# coefficient and intercept
print('Coefficient of the 3 features:', model.coef_)
print('Intercept of the 3 features:', model.intercept_)

Coefficient of the 3 features: [-335.5662466  -173.54560711  570.48327732]
Intercept of the 3 features: 3582.685668370911

In [ ]:
# MEA
print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Testing MAE:', mean_absolute_error(y_test, model.predict(X_test)))

In [192]:
#Root mean square error
print('Training RMSE:', mean_squared_error(y_train, model.predict(X_train), squared=False))
print('Testing RMSE:', mean_squared_error(y_test, model.predict(X_test), squared=False))

Training RMSE: 8785.06116760673
Testing RMSE: 35447.43810182766

In [193]:
# R^2
print('Training R^2:', r2_score(y_train, model.predict(X_train)))
print('Testing R^2:', r2_score(y_test, model.predict(X_test)))

Training R^2: 0.0005869033870341545
Testing R^2: 6.830820291703343e-05